@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

:root {
  --bg-color-light: #ffffff;
  --bg-color-dark: #1a202c;
}

html {
  background-color: var(--bg-color-light);
}

html.dark {
  background-color: var(--bg-color-dark);
}

.dark{
  --background: 254, 202, 202;
  
}